/* Color variables */
:root {
    --primary-color: #353535;
    --secondary-color: #fff;
    --hover-color: #ccc;
    --background-color: #f4f4f4;
}

/* CSS for the navigation bar */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center; /* Center items */
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 300ms ease-in-out;
}
nav ul li a:hover {
    color: var(--hover-color); /* Slightly darken the color on hover */
}

body {
    font-family: 'Bodoni Moda SC', Arial, sans-serif; /* Updated font-family */
    margin: 0;
    padding: 0;
    opacity: 0; /* Set initial opacity to 0 for fade-in effect */
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
}
header {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
section {
    padding: 60px 20px;
    margin-top: 50px;
}
#home {
    background: var(--background-color);
    text-align: center;
}
#about, #portfolio, #contact {
    background: var(--secondary-color);
    text-align: center;
}
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center; /* Center text */
    padding: 10px 0; /* Remove left padding */
    position: fixed;
    width: 100%; /* Set width to full */
    bottom: 0;
}

.blog-post {
    border: 1px solid var(--primary-color);
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
    text-align: left; /* Align text to the left */
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-number {
    flex: 1;
    text-align: left;
}

.blog-title {
    flex: 2;
    text-align: center;
}

.blog-date {
    flex: 1;
    text-align: right;
}

.blog-body {
    margin-top: 10px;
    display: none;
}

/* Page transition effect */
body.fade-out {
    opacity: 0;
}
body.fade-in {
    opacity: 1;
}
